<div>
    <h1 class="font-semibold border-b-2 text-2xl border-gray-400">Teams Evaluation List</h1>
    <table class="table bg-white">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Designation</th>
                <th>Unit</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a [routerLink]="['/assessments', 1]" routerLinkActive="router-link-active"  (click)="empAssessmentDetails(1)" class="hover:underline cursor-pointer"> Employee 1 </a></td>
                <td>Lead SQ Engineer</td>
                <td>Unit</td>
                <td>Status</td>
            </tr>
            <tr>
                <td> 
                    <!-- <a href="/assessments/1" target="_blank">Supervisee 1 (New Tab)</a> -->
                    <a (click)="empAssessmentDetails(1)" class="hover:underline cursor-pointer"> Employee 2 </a>
                </td>
                <td>Support Engineer</td>
                <td>Unit</td>
                <td>Status</td>
            </tr>
            <tr>
                <td><a (click)="empAssessmentDetails(1)" class="hover:underline cursor-pointer"> Employee 3 </a></td>
                <td>Lead Software Engineer</td>
                <td>Unit</td>
                <td>Status</td>
            </tr>
            <tr>
                <td><a (click)="empAssessmentDetails(1)" class="hover:underline cursor-pointer"> Employee 4 </a></td>
                <td>Lead Software Engineer</td>
                <td>Software Engineering</td>
                <td>Status</td>
            </tr>
            <tr>
                <td><a (click)="empAssessmentDetails(1)" class="hover:underline cursor-pointer"> Employee 5 </a></td>
                <td>Sr. Software Engineer</td>
                <td>Software Engineering</td>
                <td>Status</td>
            </tr>
        </tbody>
    </table>
</div>