<div>
    <h1 class="font-semibold border-b-2 text-2xl border-gray-400">Self Evaluation</h1>
    <table class="table bg-white">
        <thead>
            <tr>
                <th class="w-1/12 border-r border-gray-100">Assessment Area / Weight % of area <br />
                    <span style="font-size: 10px;">(The higher the % is, more important it is for your role)</span>
                </th>
                <th class="w-3/12 text-left px-4 ">Specific Assessment Point</th>
                <th class="w-1/12 text-left px-4 ">Employee <br /> Rating</th>
                <th class="w-2/12 text-left px-4 ">Employee <br /> Remarks</th>
                <th class="w-1/12 text-left px-4 ">Supervisor <br /> Rating</th>
                <th class="w-4/12 text-left px-4 ">Supervisor <br /> Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of assessmentList;">
                @if (assessAreaId != item.assessmentAreaId) {
                <td [attr.rowspan]=getAssessmentAreaCount(item.assessmentAreaId) class="border-r border-gray-100 w-1/12">{{
                    item.assessmentArea }} {{item.weight}}%</td>
                }
                <td>{{ item.assessmentPoint }}</td>
                <td>{{ item.employeeRating }}</td>
                <td>{{ item.employeeRemarks }}</td>
                <td>
                    <select class="select select-sm w-32" [value]="item.employeeRating">
                        <option disabled selected>Select Ratings</option>
                        <option [value]="0">0</option>
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                    </select>
                </td>
                <td>
                    <textarea class="textarea w-full" placeholder="to be filled by you"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="my-10">
        <button class="btn btn-success mr-5">Share Ratings</button>
        <button class="btn btn-error">Clear</button>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->